@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
     font-family:Arial, Sans-Serif;
	 margin: 0 auto;
	 background: rgb(236, 240, 241);
	 
	 
}
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
a{
     color:#3b3b3b;
     text-decoration:underlined;
     font-style: underlined;
}
a:hover{
     font-weight: bold;
     
}
.form{
      position: relative;
	  z-index: 1;
	  background: #FFFFFF;
	  max-width: 360px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 100%;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
     
}
.captcha {
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color: #4d4d4d;
     text-shadow: rgba(0,0,0,0.24) 0 1px 0;
     font-size: 16px;
     box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
     border: 1px solid #0164a5;
     border-radius: 2px;
     margin-top: 10px;
     cursor:pointer;
}
input[type='submit']:hover {
     background-color: #3b3b3b;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
	/*display: table;   /* Allow the centering to work */
	
}	

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #808080;
    font-weight: normal;
    color: #f2f2f2;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #808080;
    color: white;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

.btn {
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  width: 300px;
  cursor: pointer;
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
  border: 1px solid #0164a5;
  border-radius: 2px;
}

.btn:hover {
  background-color: #3b3b3b;
  color: white;
}

    