<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteEngine On
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
</IfModule>


AddType application/x-httpd-php .htm .html